*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.myhide{
    opacity: 0.6;
}

body, html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 30%;
    margin: 20px auto;
}

.content-top{
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    background-color: red;
    color: white;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 20px 0px;
    opacity: 0.8;
}

.content-top h1{
    font-size: 40px;
}

.content-bottom{
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px;
}

.content-bottom h3{
    text-transform: uppercase;
    font-size: 16px;
    margin: 10px 0px 20px 0px;
    font-weight: normal;
}

.take-money{
    display: flex;
    justify-content: space-between;
}

.take-money span{
    border-bottom: 1px solid black;
    font-size: 20px;
    font-weight: bold;
}

.take-money input[type="text"]{
    text-align: right;
    width: 60%;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 18px;
}

.take-money button{
    padding: 5px 10px;
    color: blue;
    text-transform: uppercase;
    background: aquamarine;
    border: none;
    cursor: pointer;
}

.mission{
    margin: 20px 0px;
}

.content-mission{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
    margin: 10px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 0px;
}

.content-mission:hover{
    opacity: 0.6;
}

.submit{
    text-align: center;
}

.submit button, .the-mission button{
    background-color: rgb(20, 60, 238);
    padding: 5px 10px;
    font-size: 18px;
    border: none;
    color: white;
    cursor: pointer;
}

.display-mission{
    z-index: 1000;
    width: 40%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.the-mission{
    display:none;
    background-color: white;
    padding: 20px; 
    text-align: center;
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
}

.the-mission h2{
    text-align: center;
    font-size: 25px;
}

.content-the-mission{
    margin: 20px 0px;
    line-height: 1.8;
    text-align: left;
}

.content-the-mission span{
    font-weight: bold;
    color: black;
}

.close{
    position: absolute;
    font-size: 30px;
    right: 2%;
    bottom: 90%;
    cursor: pointer;
}

.error{
    display: none;
    margin: 20px 0px;
    text-align: center;
    color: red;
    font-size: 18px;
}



